.chart-map-container--section {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.chart-main-container--section {
  position: relative;
  height: 500px;
  margin-bottom: 30px;
}

.foucs-pull {
  background: #F90;
}
