.focus--container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 5003;

  * {
    height: 100%;
    position: absolute;
  }

  .focus-border {
    width: 20px;
    border-radius: 10px;

    &.focus-border--left {
      border-left: 4px solid #52a5dc;
    }

    &.focus-border--right {
      border-right: 4px solid #52a5dc;
    }
  }

  .focus-not-selected {
    background: rgba(125, 227, 255, 0.4);
    pointer-events: none;
  }
}
